@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

html,
body {
    font-family: sans-serif;
    background-color: dimgray;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto
}

.card img {
    width: 300px;
    height: 150px;
}

.card {
    width: 250px;
    height: 200px;
}

.first {
    margin-bottom: 10px;
    height: 200px;
}